<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <title>To do list</title>
</head>
<body>
    <!-- creo l'app -->
    <div id="app" class="container">
        <h1>COSE DA FARE</h1>
        <!-- aggiungere un'attività -->
        <div>
            <input type="text" v-model="newActiv" @keyup.enter="aggiungi">
            <button @click="aggiungi">Aggiungi</button>
        </div>
        <!-- barrare un'attività -->
        <ul>
            <li v-for="(activities, index) in activities" :key="index" @click="fatto(index)">
                <span v-if="activities.done">{{ activities.text }}</span>
                <span v-else>{{ activities.text }}</span>
                <button @click="rimuovi(index)">X</button>
            </li>
            
        </ul>

    </div>
    <script src="js/main.js"></script>
</body>
</html>